@media screen and (max-width: 640px) {
    body {
        padding-top: 88px;
    }
    .h_master {
        padding: 10px 0;
    }
    .h_master>.container {
        height: auto;
    }
    .h_master .navbar-collapse {
        overflow: hidden;
    }
    .notifications_count{
        position: absolute;
        top: 5px;
        right: 100%;
        background: #fc4349;
        display: inline-block;
        padding: 0px 9px 1px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
    }
    .navbar-brand img {
        height: 51px;
        position: relative;
        top: 0px;
        left: -2px;
    }
    .d-flex {
        display: block !important;
    }
    .d-flex.d-flex-mobile {
        display: flex !important;
    }
    .navbar-collapse {
        padding: 0 !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: 0 !important;
        box-shadow: none !important;
    }
    .navbar-toggle {
        background: transparent !important;
        border: 0 !important;
        opacity: 1 !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
    .zone-info {
        position: relative;
        margin: -15px -15px 2rem;
        border-radius: 0;
        border: 0;
    }
    .zone-info .panel-heading {
        display: none;
    }
    .zone-info .zone-info-block, .zone-info .panel-footer {
        text-align: center;
    }
    .zone-info [data-zonename] {
        font-size: 24px;
        margin: 0px 0px 6px 0;
    }
    .zone-info .list-group {
        font-size: 0;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
    }
    .zone-info .list-group li {
        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 0;
        border-bottom: 0 !important;
    }
    .zone-info .list-group li a {
        font-size: 0;
        display: block;
        text-align: center;
        text-decoration: none !important;
        color: #a5c6e6;
        border-right: 1px solid #ddd;
        padding: 16px 5px;
    }
    .zone-info .list-group li:last-child a {
        border-right: 0;
    }
    .zone-info .list-group li a i {
        display: block;
        font-size: 24px;
    }
    .form-control {
        box-shadow: none !important;
    }
    .mx-xs-10 {
        margin: 0 !important;
    }
    .mb-xs-1 {
        margin-bottom: 1rem !important;
    }
    .btn-xs-block {
        display: block !important;
        width: 100%;
    }
    .text-xs-center {
        text-align: center !important;
    }
    .check_in_box {
        margin: -17px 0 16px;
    }
    .new_msg_btn {
        font-size: 0;
        position: fixed;
        z-index: 100;
        bottom: 15px;
        right: 15px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        line-height: 0;
        text-align: center;
        display: block;
        box-shadow: 0 10px 40px rgba(0, 0, 0, .15) !important;
    }
    .new_msg_btn i {
        display: block;
        font-size: 4rem;
        position: absolute;
        left: 23px;
        top: 17px;
    }
}