@import url('https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
@import 'font-awesome.min.css';
@import 'owl.carousel.min.css';
@import 'owl.theme.default.min.css';

body {
    font-family: 'Maven Pro', sans-serif;
    padding-top: 110px;
    color: #13395F;
    background-color: #f1f6fc;
}


[v-cloak]>* {
    display: none
}


.h_master {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 0 !important;
    background: #13395F;
    color: #fff;
    border-top: 3px solid #FC4349;
}
.h_master .navbar-brand {
    text-transform: uppercase;
}
.h_master .label.label-default {
    position: relative;
    top: -1px;
    margin-right: 6px;
    background: #fff !important;
    color: #323f51 !important;
}
.h_master>.container {
    height: 85px;
}
.h_master a {
    color: #fff !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
}
.h_master .dropdown-menu {
    background: #13395F !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #6DBCDB;
    border-color: #6DBCDB;
}
.h_master .dropdown-menu a {
    background: transparent !important;
}
.notifications_count{
    display: none;
}
label {
    font-weight: 400;
}
.navbar-brand {
    padding: 0 15px;
}
.navbar-brand img {
    height: 64px;
    position: relative;
    top: -8px;
}
a {
    color: #6DBCDB;
}
.panel-heading h3 {
    width: 90%;
}
.panel-heading {
    display: flex;
    position: relative;
}
.d-flex {
    display: flex;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
.m-0 {
    margin: 0 !important;
}
.mx-10 {
    margin: 0 10px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pagination {
    margin-bottom: 0 !important;
}
.container {
    width: 100%;
    max-width: 1150px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 15px;
}
.p-a {
    padding: 15px;
}
.btn {
    outline: none !important;
    box-shadow: none !important;
    border: 0;
    text-transform: capitalize !important;
}
.btn i {
    margin: 0 7px 0 0;
}
.btn-primary {
    background: #6DBCDB !important;
}
.btn-success {
    background: #2cccae !important;
}
.btn-default {
    border: 1px solid #d3dfe8 !important;
}
.btn-danger {
    background: #FC4349 !important;
}
.text-dark {
    color: #13395F !important;
}
.panel, .btn, .form-control {
    border-radius: 2px;
}
.panel-body {
    overflow: hidden;
}
.panel-default>.panel-heading, .panel-footer {
    background-color: #edf6ff;
}
.panel-title {
    line-height: 23px;
    text-transform: uppercase;
}
.f_master {
    padding: 3rem 0;
    text-align: center;
    border-top: 1px solid #d3dfe8;
    margin-top: 25px;
    background-color: #fff;
}
.thumb_img {
    background-color: #eee;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.thumb_img a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 2px solid #fff;
    line-height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    top: -7px;
    right: -10px;
    font-size: 11px;
}
.panel-thumb {
    height: 160px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-fluid {
    width: 100%;
}
.row.row_sm {
    margin: 0 -4px;
}
.row.row_sm>[class*="col-"] {
    padding: 0 4px;
}
.panel-stadistic {
    position: relative;
}
.panel-stadistic i {
    position: absolute;
    top: calc(50% - 25px);
    font-size: 45px;
    right: 10px;
    opacity: .2;
}
.panel-stadistic a {
    font-size: 18px;
    color: #777;
}
.ui-datepicker {
    font-size: 12px;
}
.text-success {
    color: #47c374;
}
.verified_icon {
    width: 30px;
    height: 30px;
    color: #47c374;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 10px;
    line-height: 30px;
    text-align: center;
    z-index: 50;
}
.comments_form {
    position: relative;
}
.comments_form textarea {
    padding-right: 120px;
    height: 75px;
    resize: none;
}
.comments_form button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.badge_icon {
    color: rgba(0, 0, 0, .5);
    background-color: #dae7f1;
    position: relative;
    top: -1px;
}
.badge_icon i {
    margin-left: 3px;
}
.carousel-inner {
    text-align: center;
}
.carousel .item>img {
    display: inline-block;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
}
.panel-owl {
    overflow: hidden;
}
.panel-owl .owl-carousel {
    width: calc(100% + 10px);
    margin: 0 0 0 -5px;
}
.owl-dots {
    bottom: 10px;
    position: absolute;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
}
.owl-dots .owl-dot.active {
    background-color: rgba(255, 255, 255, 1);
}
.pagination {
    margin: 0;
}
.check_in_box {
    background: #fff;
    padding: 1rem 0;
    margin: -23px 0 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
.check_in_box.fixed {
    background: rgba(30, 40, 58, 0.85);
    color: #fff !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 888;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-checkin, .btn-checkout {
    color: #fff !important;
    font-size: 18px !important;
    border: 0 !important;
    outline: none !important;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, .4) !important;*/
    border-radius: 3px !important;
    padding: 10px 30px;
    cursor: pointer;
}
.btn-checkin {
    background: linear-gradient(#5489de, #194b9c) !important;
}
.btn-checkout {
    background: linear-gradient(#5489de, #194b9c) !important;
}
.btn-checkin i, .btn-checkout i {
    margin: 0 10px 0 0;
}
.zone-info li a i {
    display: none
}
.new_msg_btn i {
    display: none;
}
.active_check_in {
    position: absolute;
    right: 18px;
    font-size: 18px;
    top: calc(50% - 8px);
    color: #13395f;
}